{
    debug
    log {
        output stdout
        format console
        level DEBUG
    }
  }
  
  :80 {
    encode gzip
  
    handle_path /api/* {    
        reverse_proxy backend:6465
    }
  
    handle {
        reverse_proxy frontend:4173
    }
  }